// Size Dimensions
// $site-width: 1280px;
$site-width: 1280vw;
$site-height: 800px;
// $site-height: 800vh;
$nav-height: 63px;

// Colors
$eerieBlack: #1c2321;
$cadetGray: #a7b9bf;
$payneGray: #5e6572;
$powderBlue: #a9b4c2;
$cadetBlue: #86a9b6;
$anti-FlashWhite: #eef1ef;

$darkslategray: #405952;
$tan: #9c9b7a;
$navajowhite: #ffd393;
$sandybrown: #ff974f;
$tomato: #f54f29;

// Font Size
$h1-section: clamp(3.125rem, 6vw, 6.25rem);
